.stops-container {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 9999; /* Harita öğelerinin üstünde görünmesini sağlar */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: rgba(255, 255, 255, 0.8); /* Arka plan rengini biraz şeffaf yapabilirsiniz */
    padding: 10px;
    border-radius: 8px;
  }
  
  .stop-card {
    margin-right: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
  }
  
  .route-info-panel {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 9999;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  